body{
	padding: 0px;
	margin: 0px;
}
.clear{zoom:1;}
.clear:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.mian{
	width: 1263px;
	margin: 0px auto;
}
/*top*/
.top{
	height: 133px;
}
.top .nav_top{
	height: 45px;
	background: url(../img/nav_topbg.png);
	position: relative;
}
.nav_top .nav_top_list{
	position: absolute;
	right: 370px;
}
.nav_top .nav_top_list li{
	float: left;
	color: #bbbbbc;
	line-height: 45px;
	padding-left: 23px;
	font-size: 12px;
	cursor: pointer;
}
.nav_top .nav_top_news{
	position: absolute;
	right: 185px;
	top: 10px;
}
.nav_top .nav_top_news a{
	color: #bbbbbc;
	font-size: 12px;
	text-decoration: none;
}
.nav_top .nav_top_news span{
	padding-right: 10px;
}
.top .nav{
	height: 88px;
	position: relative;
}
.top .nav img{
	position: absolute;
	top:14px;
	left:130px;
}
.top .nav ul{
	position: absolute;
	top: 34px;
	right: 158px;
}
.top .nav ul li{
	float: left;
	text-align: center;
	width: 100px;
	cursor: pointer;
}
.top .nav ul li span{
	color: #d5b317;
}
/*content*/
.content{
	height: 824px;
	background: #fcfcfc;
}
.content .scrollicon{
	height: 369px;
	width: 1263px;
	margin:0px auto;
	position: relative;
}
.scrollicon .topic_preview{
	width: 1263px;
	height: 369px;
	overflow: hidden;
}
.topic_preview .preview{
	width: 6315px;
	height: 369px;
}
.topic_preview .preview img{
	float: left;
}
.conlist{
	position: absolute;
	bottom: 0px;
	right: 158px;
}
#conlist li{
	width: 10px;
	height: 10px;
	background: #b9d8e9;
	border-radius: 5px;
	float: left;
	margin: 5px;
}












.content .icon{
	height: 117px;
	background: #fcfcfc;
	position: relative;
	font-size: 12px;
}
.content .icon  ul{
	position: absolute;
	top: 15px;
	right: 172px;
}
.content .icon  ul li{
	float: left;
	text-align: center;
	padding-right: 40px;
	color: red;
}
.content .icon  ul li img{
	margin-bottom: 8px;
}
.content .service{
	height: 338px;
	background: #efefef;
	position: relative;
}
.service .service_left{
	width: 268px;
	height: 295px;
	position: absolute;
	left: 141px;
	top:15px;
	position: relative;
}
.service .service_middle{
	width: 437px;
	height: 295px;
	position: absolute;
	left: 436px;
	top:15px;
}
.service .service_right{
	width: 270px;
	height: 295px;
	position: absolute;
	left: 898px;
	top:15px;
}
.service_left p{
	position: absolute;
	bottom: 0px;
	color: #ffffff;
	font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: inherit;
    line-height: 20px;
}
.service_middle li{
	height: 60px;
	border-bottom: 1px dotted #999999;
	background: url(../img/sj_01.jpg)10px no-repeat;
	position: relative;
}
.service_middle .date{
	float: left;
	text-align: center;
	position: absolute;
	top: 8px;
    left: 20px;
    color: #ffffff;
}
.service_middle .date span{
	font-size: 17px;
    font-weight: bold;
}
.service_middle .newcon{
	padding-left: 85px;
	padding-top: 12px;
	font-size: 12px;
    color: #999999;
    line-height: 1.5em;
}
.service_middle .newcon span{
	font-size: 14px;
    text-decoration: none;
    line-height: 1.5em;
}
.service_middle .newcon span a{
	color: #454545;
	text-decoration: none;
}
.service_middle .newcon span a:hover{
	color: #0195d3;
}
.service_right div{
	width: 132px;
	height: 143px;
	float: left; 
	cursor: pointer;
}
.service_right .right2,.service_right .right4{
	padding-left: 5px;
}
.service_right .right3,.service_right .right4{
	padding-top: 5px;
}






/*footer*/
.footer{
	height: 219px;
	background: url(../img/footerBg.gif);
	position: relative;
}
.footer_left{
	padding-left: 133px;
	padding-top: 23px;
	float: left;
}
.footer_left .ybt1,.footer_left .ybt2,.footer_left .ybt3{
	font-size: 16px;
}
.footer_left .ybt1{
	font-weight: bold;
	color: white;
}
.footer_left .ybt2{
	color: #999999
}
.footer_left .ybt3,.footer_left .ybt4{
	color: #cbcbcb;
}

.footer_middle{
	padding-left: 100px;
	padding-top: 23px;
	float: left;
}
.footer_middle .middle1{
	position: relative;
}
.footer_middle .middle1 .middle_01{
	position: absolute;
	top: 5px;
	left: 121px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.footer_middle .middle1 .middle_01 a{
	color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
.footer_middle .middle2{
	font-size: 16px;
    color: #999999;
}
.footer_right{
	float: left;
	padding-left: 108px;
	padding-top: 45px;
}
.footer_right li a{
	color: #666666;
	font-size: 12px;
	padding-bottom: 14px;
	text-decoration: none;
}
.footer_right .gotop{
	position: absolute;
	top: 0px;
	right: 223px;
}
